In [28]:
class student:
    marks_to_pass = 30
    
    def check(self):
        self.x=int(input("Enter marks for subject 1"))
        self.y=int(input("Enter marks for subject 2"))
        self.z=int(input("Enter marks for subject 3"))
        a = [x,y,z]
        print(a)
        for i in a:
            if i < stud.marks_to_pass:
                print("Fail")
            else:
                print("Pass")
stud = student()
stud.check()

Enter marks for subject 1 30
Enter marks for subject 2 20
Enter marks for subject 3 60

[50, 50, 29]
Pass
Pass
Fail

In [13]:
class person:
    def say_hi(self):
        print("Hey")
p = person()
p.say_hi()

Hey

In [16]:
class employee:
    def set_data(self,n,a,s):
        self.name=n
        self.age=a
        self.salary=s
    def display_data(self):
        print(self.name,self.age,self.salary)

e1 = employee()
e1.set_data('Ramesh',23,53040)
e1.display_data()

Ramesh 23 53040